<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-202497702-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-202497702-1');
  </script>
  <!--bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width" initial-scale="1.0">
  <meta charset="UTF-8">
  <title>SSB Practice- SRT</title>
  <script src="../scripts/srtFetch.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2045560541793123"
     crossorigin="anonymous"></script>
</head>

<body>
  <!--navbar-->
  <nav class="navbar navbar-dark" id="nav" style="background-color: #3a3a2d;">
    <div class="container-fluid">
      <a class="navbar-brand" href="../index.html">SSB Practice</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/views/tests.html">Practice Tests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/about.html">About SSB</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/blog.html">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/ca.html">Current Affairs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/contact.html">Contact</a>
                    </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- card with instructions and start button-->
  <div class="card card-block card-outline-primary" style="margin-top: 6rem;" id="instruction">
    <div class="card-body">
      <h5 class="card-title">Instructions - SRT</h5>
      <div class="card-text">
        <ul>
          <Strong>Prerequisites</strong>
          <li>Two sheets of paper</li>
          <li>Pen</li>
          <li>30 Minutes of time</li>
          <Strong>Instructions</strong>
          <li>60 Situations will be displayed on the screen all at once</li>
          <li> You have 30 minutes to attempt as many situations as you can</li>
          
          <li>In your solution try to write how you will solve the given situation to the point.</li>
          <li>Try to attempt as many as possible.</li>
          <li>After completion of the test go through your answers and take your time to think if you could have found a better solution
             and write it down next to your main answer.</li>
          <li>After completion of the test, you can reattempt the test, or practice other tests.</li>
        </ul>
      </div>
      <button type="button" class="btn btn-success" onclick="startTest()">Start Test</button>
    </div>
  </div>

  <!-- fixed time left on the top-->
    <div class="card card-block card-outline-primary" style="position: fixed; top: 0; right: 0; z-index: 1; display: none;"
        id="timeLeft">
        <div class="card-body">
        <h6 class="card-title">Time Left</h5>
        <div class="card-text">
            <h6 id="time"></h1>
        </div>
        </div>
    </div>

  <!-- card with the test-->
  <div class="card card-block text-justify mx-auto" id="word" style="display: none; margin-top: 12vh;">
    <div class="card-body" id="situation">
      

    </div>
  </div>


  <!-- card with finish message and reattempt and back buttons-->
  <div class="card card-block" id="test-finish" style="display: none;margin-top: 30vh">
    <div class="card-body">
      <h5 class="card-title">Test Finished</h5>
      <div class="card-text">
        <p>Thank you for completing the test.</p>
        <p>Go through your answers and take your time to think if you could have found a better situation and write it
          down next to your original answer.</p>
      </div>
      <button type="button" class="btn btn-success" onclick="startTest()">Reattempt</button>
      <a type="button" class="btn btn-success" href="/views/tests.html">Back</a>
    </div>
  </div>


</body>

</html>